body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: greenyellow;
  }
  
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container {
    border: 1px solid #ddd;
    border-radius: 10em;
    padding: 20px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    min-width: 50px;;
  }
  
  input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    justify-items: center;
    justify-content: center;
  }
  
  span#login-error, span#register-error {
    color:red;
    display: block;
    margin-top: 5px;
  }
  
  @media only screen and (max-width: 480px) {
    .container {
      max-width: 1000px;
    }
  }

  .emoji{
    justify-content: center;
    justify-items: center;
    display: flex;
    height: 50px;
    height: 40px;
    position:fixed;
  }
  
