body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  background-image: url(imgz/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
    height: 100px;
    background-repeat: no-repeat;
    background-color: orange;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: 'Monoton', sans-serif;
    font-weight: 500;
    color: antiquewhite;
    letter-spacing: 3px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}


.form-container {
    border: 1px solid #838282;
    border-radius: 7px;
    padding: 15px;
    border: 5px solid blue ;
    border-radius: 5px;
    padding: 20px;
}

table {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #3b6845;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: white;
    
    
}

input[readonly] {
    background-color: #dad6d6;
    border: 1px solid #186648;
    padding: 8px;
    width: 90%;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
